input{
    margin: 5px;
    text-align: center;
    border-radius: 20px;
    border-color: rgb(0, 0, 0);
    color: black;
    background-color: rgb(255, 255, 255);
}

div{
    text-align: center;
}

#controller input{
    padding: 25px;
    
}

#zoomController input{
    padding: 15px;
    font-size: 10px;
}

.useless{
    background-color: rgba(0, 0, 0, 0);
    color: rgba(0, 0, 0, 0);
    border-color: rgba(1, 1, 1, 0);
}

input, div{
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    -moz-user-select: none;
    -ms-user-select: none;

    color: #000000;
}

input, div, body{
    -webkit-user-select: none;
    touch-action: none;
    user-select: none;
}

p{
    margin: 30px;
    font-size: 15px;
}

body {
    margin: 0; 
    height: 100%; 
    overflow: hidden;

    touch-action: manipulation;
}